*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    border-top: 4px solid red;
    left: 0;
    bottom: -4px;
    border-radius:40%;
    height: 8px;
}
.back-color{
    display: inline-block;
    line-height: 0.8;
    background-color: yellow;
    padding: 0;
}
.banner-form{
    margin: 50px;
    border: 1px solid yellow;
    border-radius: 3%;
    box-shadow: 0 0 10px yellow;
    background-image: url(../Image/black\ grid.jpg);
    opacity: 1;
    color: white;
}
.image-text{
    color: yellow;
    position: absolute;
    top: 10%;
    left: 45%;
    right: 5%;
}
.underline1::after{
    content: '';
    position: absolute;
    width: 17%;
    border-top: 4px solid red;
    left: 30%;
    bottom: -10%;
    height: -1%;
}
.image-text1{
    position: absolute;
    top: 50%;
    left: 45%;
    right: 5%;
    text-align: center;
}
.underline3::after{
    content: '';
    position: absolute;
    width: 70%;
    border-top: 4px solid red;
    left: 14%;
    bottom: -9px;
    border-radius:40%;
    height: 8px;
}
#sixth div div{
border: 5px solid red;
border-radius: 10px;
height: auto ; 
margin-top: 6%;
}
.checked {
    color: yellow;
  }
  .underline3::after{
    content: '';
    position: absolute;
    width: 70%;
    border-top: 4px solid red;
    left: 14%;
    bottom: -9px;
    border-radius:40%;
    height: 8px;
}

.ul-lists li::before {
    content: "";
    border-color: transparent red;
    border-style: solid;
    border-width: 0.50em 0 0.50em 0.50em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.3em;
    position: relative;
  }
  